<h1>User infor</h1>
Name: <%= @user.name %> 
</br>
Email: <%= @user.email %>

</br>
Micropost list
<% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
<% end %>

